.modal{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: var(--secondary);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.navBar{
  flex-direction: column;
  color: white;

}

nav p {
  padding: 0rem 0.6rem;
  cursor: pointer;
  transition: all 0.4s;
}

nav p:hover {
 color: #92320c;
}


.cart{
  font: inherit;
  background-color: #4d1601;
  cursor: pointer;
  padding: 0.5rem 1.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 14px;
  position: relative;
}

.button span{
  font-weight: bold;
} 

.icon{
  width:1.5rem ;
  height: 1.4rem; 
  margin-right: 1rem;
}

.badge{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  font-size: 12px;
  background-color: rgb(192, 8, 8);
  display: flex;
  align-items: center;
  justify-content: center;

}

.cart:hover .badge,
.cart:active .badge {
  background-color: #92320c;
}






@media screen and (max-width:720px) {


  .nav{ display: none; }
  
}