.product {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
 gap: 4rem;
 width: 80%;
 margin: auto;
 padding:3rem 0rem;
 margin-top: 4rem;
 position: relative;
 z-index: 5;
 /* //grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

}