.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal{
  position: fixed;
  top: 7.5vh;
  height: 91vh;
  right: 0px;
  width: 20%;
  margin: auto;
  z-index: 30;
  background-color:var(--secondary);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding:1rem;
  /* border-radius: 14px; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  animation: slide_right 2000ms;
}


@keyframes slide_right  {
  from { transform:translateX(100%);}
  to { transform:translateX(0%);}
 
  
}


@media screen and (max-width:720px) {
  .modal {
    width: 100%;
    top: 10vh;
  }
  
}